project:
  type: book  # check if all parms work with this proj type.
  output-dir: docs
book:
  title: "MAPS tool user guide"
  subtitle: "The Micronutrient Action Policy Support (MAPS) tool"
  author: "MAPS team"
  #date-format: "dd/MM/YYYY"
  #date-format: "long"
  date: "07/03/2024"
  #original-date: "07/03/2024"
  #site-url: https://help.micronutrient.support/
  status: "under construction"
  version: "MAPS tool: 1.17.0"
  #original-date: "original guide release 3rd July 2024"
  sidebar: 
    logo: images/MAPS_sticker_purple.png  
    search: true
  
  chapters:
    - index.qmd
    - intro.qmd
    - summary.qmd
    - QuickMAPS.qmd
    - QuickMAPS2_baseline.qmd
    - QuickMAPS3_projections.qmd
    - QuickMAPS4_biomarkers.qmd
    - CostEffectiveness.qmd
    - glossary.qmd
#    - references.qmd

# Placeholder templates for tool version replacement script
tool-version: <span class="replace">tool-version</span>
api-version: <span class="replace">api-version</span>
data-seed: <span class="replace">data-seed</span>
data-schema: <span class="replace">data-schema</span>
bibliography: references.bib

format:
  html:
    theme: cosmo

    # Script to fetch live tool and api versions and replace into content
    include-after-body:
      - file: fetchLiveToolVersions.html 
  pdf:
    documentclass: scrreprt

editor: visual

